{% load i18n staticfiles %}
{% spaceless %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="google-site-verification" content="wuldtGp8kzEECSgymF9gC9eKYQj0Lgs6XeJNJeuGOSo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{% trans 'Daiech - Desarrollo de software colaborativo' %}">
    <meta name="p:domain_verify" content="ec1ecc0bbe961d2371873a3c66f3a70e"/>
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:image" content="http://daiech.com/{% static 'img/Daiech.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'apple-touch-icon-57x57-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114x114-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72x72-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144x144-precomposed.png' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body  data-spy="scroll" data-target=".navbar-daiech">
  {% if not DEBUG %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=311793758915742";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}
    <header>
        <nav id="daiech-navbar" class="navbar navbar-fixed-top" role="navigation">
          {% include "website/top_bar.html" %}
        </nav>
    </header>
    <div>{% block content %}{% endblock %}</div>
    <footer class="screen">
        <div class="daiech-logo"><a href="/"><img src="{% static 'img/daiech-logo.png' %}"></a></div>
        <div class="daiech-social">
          <a href="https://twitter.com/Daiech" class="tw" target="_blank"></a>
          <a href="https://facebook.com/Daiech" class="fb" target="_blank"></a>
          <a href="https://plus.google.com/+Daiech" class="gp" target="_blank"></a>
          <a href="https://youtube.com/VideoDaiech" class="yt" target="_blank"></a>
        </div>
        <div class="footer-text">
            <form action="/i18n/setlang/" method="post" id="language-form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                <input name="language" type="hidden" id="language-selected" />
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <span class="language {{ language.code }}">
                    <label>
                        <button class="flag-icon {% if language.code == LANGUAGE_CODE %}language-selected{% endif %}" type="button" title="{{ language.name_local }} ({{ language.code }})" style="background: url('{{ STATIC_URL }}img/flags/{{ language.code }}.png')" data-language="{{ language.code }}"></button>
                        {{ language.name_local }}
                    </label>
                </span>
                {% endfor %}
            </form>
        </div>
    </footer>

  {% if not DEBUG %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  {% endif %}
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery.min.js' %}"><\/script>')</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/swig.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}{% endblock %}
    
  {% if not DEBUG %}
    <script>
        var _gaq=[['_setAccount','UA-26046263-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  {% endif %}
  </body>
{% endspaceless %}