{% extends "website/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Daiech - Desarrollo de software colaborativo' %}{% endblock %}

{% block content %}
<div class="index">
    <div id="home">
        <div class="principal-text">
            <p class="principal-title">{% trans 'ESPACIOS DIGITALES COLABORATIVOS' %}</p>
            <p class="principal-description">{% trans 'Nuestra mayor meta es mejorar la experiencia de trabajo a través de herramientas digitales' %}</p>
            <a href="#projects" class="btn btn-default">{% trans 'VER PROYECTOS' %}</a>
        </div>
    </div>
    <div id="about" class="screen">
        <h2>{% trans 'ACERCA' %}</h2>
        <p class="description-text text-muted">{% trans 'Nos especializamos en el desarrollo de software colaborativo que facilite el trabajo en conjunto para mejorar el rendimiento de cualquier equipo de trabajo' %}</p>
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <div class="about-icons design"></div>
                  <div class="caption">
                    <h4>{% trans 'Diseños agradables' %}</h4>
                    <p class="text-muted">{% trans 'Plataformas amigables y funcionales para interactuar de la forma más fácil, cómoda e intuitiva' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <div class="about-icons responsive"></div>
                  <div class="caption">
                    <h4>{% trans 'Diseño adaptable' %}</h4>
                    <p class="text-muted">{% trans 'Ajuste a cualquier dispositivo para lograr un mayor alcance de visibilidad y una mejor experiencia de usuario' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <div class="about-icons tools"></div>
                  <div class="caption">
                    <h4>{% trans 'Herramientas de seguimiento' %}</h4>
                    <p class="text-muted">{% trans 'Control de su equipo de trabajo a través de reportes estadísticos que te ayudarán a tomar decisiones' %}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="team" class="screen">
        <h2>{% trans 'NUESTRO EQUIPO' %}</h2>
        <p class="description-text text-muted">{% trans 'Comprometidos a brindar soluciones creativas y apropiadas a sus necesidades' %}</p>
        <script type="text/template" id="member-template">{% verbatim %}{% for u in members %}
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="member-pic"><div class="{{ u.class }}"></div></div>
                    <h4>{{ u.name }}</h4>
                    <span class="text-muted">{{ u.job }}</span>
                    <div><a href="{{ u.social.twitter.url }}">@{{ u.social.twitter.username }}</a></div>
                </div>{% endfor %}{% endverbatim %}</script>
        <div class="container-fluid member-team">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div id="projects" class="screen">
        <h2>{% trans 'NUESTROS PROYECTOS' %}</h2>
        <p class="description-text text-muted">{% trans 'Algunos de nuestros proyectos' %}</p>
        <div class="projects-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-5">
                        <div class="project-pic actarium"></div>
                        <p class="text-muted">{% trans 'Plataforma digital para la gestión de Actas y Reuniones. Permite que los usuarios creen, compartan y aprueben las actas de sus reuniones en la nube.' %}<br>Pruébela en <a href="http://actarium.com/?ref=daiech.com">Actarium.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-5">
                        <div class="project-pic destaju"></div>
                        <p class="text-muted">{% trans 'Plataforma para el control de pagos a destajo y coordinación de actividades de campo. Ésta Permite supervisar las actividades de los empleados y llevar inventarios de insumos y equipos de la empresa.' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-5">
                        <div class="project-pic califiter"></div>
                        <p class="text-muted">{% trans 'Red social y comercial enfocada a calificaciones de productos de tiendas virtuales y físicas' %}.<br>{% trans 'Califiter es el resultado de la asociación entre <a href="https://twitter.com/Daiech">Daiech</a> y <a href="https://twitter.com/comerxion">Comerxión</a>' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="values" class="screen">
        <h2>{% trans 'VALORES' %}</h2>
        <p class="description-text">{% trans '¿Por qué elegir nuestras soluciones?' %}</p>
        <!-- <div class="values-pic"></div> -->
        <div class="container-fluid">
            <div class="row">
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="values-pic"><div class="calendar"></div></div>
                    <h4>{% trans 'Cumplimiento' %}</h4>
                    <span class="">{% trans 'El tiempo es nuestro recurso más valioso, por eso nuestra mayor meta es cumplir con los objetivos' %}.</span>
                </div>
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="values-pic"><div class="engagement"></div></div>
                    <h4>{% trans 'Compromiso' %}</h4>
                    <span class="">{% trans 'Amamos lo que hacemos, por eso trabajamos con dedicación para superar las expectativas de nuestros clientes' %}.</span>
                </div>
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="values-pic"><div class="synergy"></div></div>
                    <h4>{% trans 'Sinergia' %}</h4>
                    <span class="">{% trans 'Somos un equipo totalmente comprometido con nuestro trabajo para cumplir nuestro sueños y ayudar a cumplir los de los demás' %}.</span>
                </div>
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="values-pic"><div class="passion"></div></div>
                    <h4>{% trans 'Pasión' %}</h4>
                    <span class="">{% blocktrans %}"Trabajar en equipo divide el trabajo y multiplica los resultados" Anónimo.<br>Nuestro objetivo es poder ser creativos, ágiles e innovadores al trabajar en conjunto{% endblocktrans %}.</span>
                </div>
            </div>
        </div>
    </div>
    <div id="partners" class="screen">
        <h2>{% trans 'ALIADOS' %}</h2>
        <div class="partners-images">
            <a href="http://www.parquesoftpereira.com" target="_blank"><div id="parquesoft"></div></a>
            <a href="http://www.comerxion.com" target="_blank"><div id="comerxion"></div></a>
            <a href="http://www.del.com.co" target="_blank"><div id="del"></div></a>
        </div>
    </div>
    <div id="contact" class="screen">
        <h2>{% trans 'CONTACTO' %}</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row">
                        <span class="contact-logo"><img src="{% static 'img/landing/address.png' %}"></span>
                        <address>{% trans 'Cra 31 # 15-87<br>Barrio, San Luis<br>Pereira, Colombia' %}<br></address>
                    </div>
                </div>
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row daiech-phone">
                        <span class="contact-logo"><img src="{% static 'img/landing/phone.png' %}"></span>
                        <p><!-- (036) 3216899 <br>  -->(+57) 316 664 3721</p>
                    </div>
                </div>
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row daiech-mail">
                        <span class="contact-logo"><img src="{% static 'img/landing/email.png' %}"></span>
                        <p class="daiech-mail-text"><a href="mailto:contacto@daiech.com" title="{% trans 'Envíanos un correo para contactarnos' %}">contacto@daiech.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}

{% block style %}
<link href='http://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab' rel='stylesheet' type='text/css'>
<style type="text/css">
    #partners .partners-images div{display: inline-block;margin-right: 15px !important;}
    #partners #parquesoft{background-image: url("/static/img/partners/parquesoft.png");height: 55px;margin: auto;margin-top: 30px;width: 185px;}
    #partners #parquesoft:hover{background-position: 2px 54px;}
    #partners #comerxion{background-image: url("/static/img/partners/comerxion.png");height: 78px;margin: auto;margin-top: 30px;width: 138px;background-position: 0 93px;}
    #partners #comerxion:hover{background-position: 0px 5px;}
    #partners #del{background-image: url("/static/img/partners/del.png");height: 83px;margin: auto;margin-top: 30px;width: 138px;background-position: 0 94px;}
    /*#partners #del:hover{background-position: 0px 0px;}*/
</style>
{% endblock %}