{% extends "base.html" %}
{% load i18n %}
{% block title %}Daiech - Desarrollo de software colaborativo{% endblock %}

{%block content %}
<div class="index">
    <div id="home">
        <div class="principal-text">
            <p class="principal-title">{% trans 'ESPACIOS DIGITALES COLABORATIVOS' %}</p>
            <p class="principal-description">{% trans 'Nuestra mayor meta es mejorar la experiencia de trabajo a través de herramientas digitales' %}</p>
            <a href="#projects" class="btn btn-default">{% trans 'VER PROYECTOS' %}</a>
        </div>
    </div>
    <div id="about" class="screen">
        <h2>{% trans 'ACERCA' %}</h2>
        <p class="description-text text-muted">{% trans 'Especializados en el desarrollo de software colaborativo facilitando el trabajo en conjunto para mejorar el rendimiento de cualquier equipo de trabajo' %}</p>
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <img src="{{ STATIC_URL }}img/landing/address.png" alt="{% trans 'Diseños agradables' %}">
                  <div class="caption">
                    <h4>{% trans 'Diseños agradables' %}</h4>
                    <p class="text-muted">{% trans 'Plataformas amigables y funcionales para interactuar de la forma más fácil, cómoda e intuitiva' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <img src="{{ STATIC_URL }}img/landing/phone.png" alt="{% trans 'Responsive web Design' %}">
                  <div class="caption">
                    <h4>{% trans 'Diseño adaptable' %}</h4>
                    <p class="text-muted">{% trans 'Ajuste a cualquier dispositivo para lograr un mayor alcance de visibilidad y una mejor experiencia de usuario' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="">
                  <img src="{{ STATIC_URL }}img/landing/email.png" alt="{% trans 'Herramientas de seguimiento' %}">
                  <div class="caption">
                    <h4>{% trans 'Herramientas de seguimiento' %}</h4>
                    <p class="text-muted">{% trans 'Control de su equipo de trabajo a través de reportes estadísticos que te ayudarán a tomar decisiones' %}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="team" class="screen">
        <h2>{% trans 'NUESTRO EQUIPO' %}</h2>
        <p class="description-text text-muted">{% trans 'Comprometidos a brindar soluciones creativas y apropiadas a sus necesidades' %}</p>
        <script type="text/template" id="member-template">{% verbatim %}{% for u in members %}
                <div class="daiech-member col-sm-6 col-md-3 col-lg-3">
                    <div class="member-pic"><div class="{{ u.class }}"></div></div>
                    <h4>{{ u.name }}</h4>
                    <span class="text-muted">{{ u.job }}</span>
                    <div><img src="/static/img/daiech-social-active.png" ></div>
                </div>
{% endfor %}{% endverbatim %}</script>
        <div class="container-fluid member-team">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div id="projects" class="screen">
        <h2>{% trans 'NUESTROS PROYECTOS' %}</h2>
        <p class="description-text text-muted">{% trans 'Algunos de nuestros proyectos' %}</p>
        <div class="projects-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-6">
                        <div class="project-pic actarium"></div>
                        <h4>Actarium</h4>
                        <p class="text-muted">{% trans 'EL espacio ideal para registrar el resultado de sus reuniones' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-6">
                        <div class="project-pic destaju"></div>
                        <h4>Destaju</h4>
                        <p class="text-muted">{% trans 'Plataforma para el control de pagos a destajo y coordinación de actividades de campo' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="daiech-project col-xs-12 col-md-6">
                        <div class="project-pic califiter"></div>
                        <h4>Califiter</h4>
                        <p class="text-muted">{% trans 'Red social y comercial enfocada a calificaciones de productos de tiendas virtuales y fisicas' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="values" class="screen">
        <h2>{% trans 'VALORES' %}</h2>
        <p class="description-text">{% trans '¿Por qué elegir nuestas soluciones?' %}</p>
        <div class="values-pic"></div>
    </div>
    <div id="contact" class="screen">
        <h2>{% trans 'CONTACTO' %}</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row">
                        <span class="contact-logo"><img src="{{ STATIC_URL }}img/landing/address.png"></span>
                        <address>Cra 31 # 15-87<br>Barrio, San Luis<br>Pereira, Colombia<br></address>
                    </div>
                </div>
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row daiech-phone">
                        <span class="contact-logo"><img src="{{ STATIC_URL }}img/landing/phone.png"></span>
                        <p>(036) 3216899 <br> (+57) 316 664 3721</p>
                    </div>
                </div>
                <div class="contact-item col-sm-4 col-md-4">
                    <div class="box row daiech-mail">
                        <span class="contact-logo"><img src="{{ STATIC_URL }}img/landing/email.png"></span>
                        <p class="daiech-mail-text"><a href="mailto:contacto@daiech.com" title="Env&iacute;anos un correo para contactarnos">contacto@daiech.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{%block js%}
<script type="text/javascript">
    $(document).ready(function(){
        $("#daiech-menu ul.nav li a[href^='#']").on('click', function(e) {
            e.preventDefault();
            goToByScroll(this.hash, function (e) {});
        });
    });
</script>
{%endblock%}

{%block style%}
    <style type="text/css">
        .index{text-align: center;}
        .screen{padding: 50px 0;}
        .description-text{font-size: 16px;margin: 0 auto;width: 50%;}
        #home{background-image: url("{{ STATIC_URL }}img/landing/p.png");background-repeat: no-repeat;background-position: center;height: 530px;width: 100%}
        #home .principal-text{top: 25%;position: relative;width: 50%;margin: auto;}
        #home .principal-text p.principal-title{font-size: 50px;color: white;}
        #home .principal-text p.principal-description{font-size: 20px;color: white;}
        #home .principal-text a.btn{font-weight: bold;padding: 25px 35px;border-radius: 40px;color: #00aeaa;margin-top: 50px;}
        #about{}
        #about .container-fluid{margin-top: 100px;margin-bottom: 80px;width: 70%;}
        #team{background-color: #e1e1e1}
        #team .member-team{margin-top:50px;width: 100%;text-align: center;}
        /*#team .daiech-member{width: 290px !important;padding: 0 10px;}*/
        #team .daiech-member h4{font-weight: bold;text-transform:uppercase;}
        #team .daiech-member .text-muted{color:#00aeaa;}
        #team .member-team > .row{width: 100%;margin: 0 auto;}
        #team .member-pic{height: 280px;margin: 0 auto;width: 100%;/*background-size:contain;*//*background-position:center;*/}
        #team .member-pic > div{background-image: url("{{ STATIC_URL }}img/landing/team.png");background-repeat: no-repeat;height: 100%;max-width: 268px;margin: 0 auto;}
        .maoaiz{background-position: -12px 0;background-size: cover;}
        .lina{background-position: -593px 0;}
        .ana{background-position: -886px 0;}
        .edwinfmesa{background-position: -304px 0;}
        #projects {}
        #projects .projects-container{background-image: url("{{ STATIC_URL }}img/landing/tablet.png");background-repeat: no-repeat;background-position: right; height: 570px;width: 100%}
        #projects .daiech-project {display: inline-block; text-align: left;margin-left: 100px;}
        #projects .daiech-project .project-pic{background-image: url("{{ STATIC_URL }}img/landing/projects.png");background-repeat: no-repeat;height: 80px;width: 100%}
        #projects .daiech-project .actarium{background-position: -36px 0;}
        #projects .daiech-project .destaju{background-position: -31px -81px;}
        #projects .daiech-project .califiter{background-position: -42px -197px; height: 110px}
        #values {background-color: #00aeaa;color: white;}
        #values .values-pic{background-image: url("{{ STATIC_URL }}img/landing/values.png");background-repeat: no-repeat;background-position: center; height: 188px;width: 100%}
        .box{text-align: left;margin: auto;width: 180px}
        #contact {background-color: #222222;color: white;}
        #contact .container-fluid > .row{margin: 40px 0;}
        #contact address{margin-left: 50px;}
        #contact p{margin: 8px 0 0 50px;}
        #contact p.daiech-mail-text{margin: 12px 0 0 70px;}
        #contact a{color: white}
        #contact .contact-logo{float: left}
        #contact .contact-item{height: 70px}
        @media screen and (max-width:1072px){
            #home .principal-text{width: 70%;}
            #about .container-fluid{width: 90%}
            #projects .daiech-project{margin-left: 0}
        }
        @media screen and (max-width:768px){
            #home {height: 430px;}
            #home .principal-text{top: 12%;width: 90%;}
            #home .principal-text p.principal-title{font-size: 42px;}
            #home .principal-text a.btn{margin-top: 30px;}
            #projects .projects-container{background-image: none;}
        }
    </style>
{%endblock%}