{% extends "base.html" %}
{% load i18n %}
{% block title %}Daiech - Desarrollo de software colaborativo{% endblock %}

{%block content %}
    <div class="text-center">
        <h1>{% trans 'Pitch' %}</h1>
        <p>{% trans 'Video pitch de la empresa Daiech' %}</p>
        <iframe width="853" height="480" src="//www.youtube.com/embed/zoVEVGf_1Mk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock%}

{%block js%}
<script type="text/javascript">
</script>
{%endblock%}

{%block style%}
<link href='http://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab' rel='stylesheet' type='text/css'>
<style type="text/css">
    div.text-center{font-family: Montserrat}
</style>
{%endblock%}