.b{border: solid thin #dadada;}
.navbar-toggle .icon-bar{background-color: #888;}
#daiech-navbar{margin-top: 20px;}
.daiech-logo{margin: 0 auto;width: 170px;}
.daiech-social{height: 39px;margin:15px auto;margin-bottom: 0;width: 180px;}