.b{border: solid thin #dadada;}
.navbar-toggle .icon-bar{background-color: #888;}
#daiech-navbar{margin-top: 20px;}
.daiech-logo{margin: 0 auto;width: 170px;}
.daiech-social{height: 39px;margin:15px auto;margin-bottom: 0;width: 172px;}
.daiech-social a{display: inline-block;background-image: url("/static/img/daiech-social-active.png");width: 40px;height: 40px;}
.daiech-social a.fb{background-position: 0 0;}
.daiech-social a.tw{background-position: 136px 0;}
.daiech-social a.gp{background-position: 88px 0;}
.daiech-social a.yt{background-position: 42px 0;}

@media only screen and (max-width:992px){
	.navbar-nav.navbar-right{font-size: 12px;}
	.navbar-nav>li>a{padding-left: 10px;padding-right: 10px;}
}

