body{font-family: 'Roboto Slab', 'serif;'}
h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', 'sans-serif;'}
.text-muted{font-family: 'Roboto Slab', 'sans-serif;'}
.b{border: solid thin #dadada;}
.navbar-toggle .icon-bar{background-color: #888;}
#daiech-navbar{margin-top: 20px;}
#daiech-menu *{color:#222;font-weight: bold;font-family: 'Montserrat', 'sans-serif;'}
.daiech-logo{margin: 0 auto;width: 170px;}
.daiech-social{height: 39px;margin:15px auto;margin-bottom: 0;width: 160px;}
.daiech-social a{display: inline-block;background-image: url("/static/img/daiech-social-active.png");width: 40px;height: 40px;}
.daiech-social a.tw{background-position: 0 0;}
.daiech-social a.fb{background-position: 136px 0;}
.daiech-social a.gp{background-position: 88px 0;}
.daiech-social a.yt{background-position: 42px 0;}


.index{text-align: center;}
.screen{padding: 50px 0;}
.description-text{font-size: 16px;margin: 0 auto;width: 50%;}
#home{background-image: url("/static/img/landing/p.png");background-repeat: no-repeat;background-position: center;height: 530px;width: 100%}
#home .principal-text{top: 25%;position: relative;width: 50%;margin: auto;}
#home .principal-text p.principal-title{font-size: 50px;color: white;font-family: 'Montserrat', 'sans-serif;'}
#home .principal-text p.principal-description{font-size: 20px;color: white;}
#home .principal-text a.btn{font-weight: bold;padding: 25px 35px;border-radius: 40px;color: #00aeaa;margin-top: 50px;}
#about{}
.about-icons{background-image: url("/static/img/landing/icons.jpg");height: 63px;margin: auto;width: 63px;}
#about .design {background-position: 0 0;}
#about .responsive {background-position: -63px 0;}
#about .tools {background-position: -123px 0;}
#about .container-fluid{margin-top: 100px;margin-bottom: 80px;width: 70%;}
#team{background-color: #e1e1e1}
#team .member-team{margin-top:50px;width: 100%;text-align: center;}
/*#team .daiech-member{width: 290px !important;padding: 0 10px;}*/
#team .daiech-member h4{font-weight: bold;text-transform:uppercase;}
#team .daiech-member .text-muted{color:#00aeaa;}
#team .member-team > .row{width: 100%;margin: 0 auto;}
#team .member-pic{height: 280px;margin: 0 auto;width: 100%;/*background-size:contain;*//*background-position:center;*/}
#team .member-pic > div{background-image: url("/static/img/landing/team.png");background-repeat: no-repeat;height: 100%;max-width: 268px;margin: 0 auto;}
.maoaiz{background-position: -12px 0;background-size: cover;}
.lina{background-position: -593px 0;}
.ana{background-position: -886px 0;}
.edwinfmesa{background-position: -304px 0;}
#projects {}
#projects .projects-container{background-image: url("/static/img/landing/tablet.png");background-repeat: no-repeat;background-position: right; height: 570px;width: 100%}
#projects .daiech-project {display: inline-block; text-align: left;margin-left: 100px;}
#projects .daiech-project .project-pic{background-image: url("/static/img/landing/projects.png");background-repeat: no-repeat;height: 80px;width: 100%}
#projects .daiech-project .actarium{background-position: -36px 0;}
#projects .daiech-project .destaju{background-position: -31px -81px;}
#projects .daiech-project .califiter{background-position: -42px -197px; height: 110px}
#values {background-color: #00aeaa;color: white;}
#values .values-pic > div{background-image: url("/static/img/landing/values.png");background-repeat: no-repeat;width: 130px;height: 166px;margin: auto;}
#values h4{text-transform:uppercase;}
#values .values-pic > div.calendar{background-position: -4px -9px}
#values .values-pic > div.engagement{background-position: -306px -9px}
#values .values-pic > div.synergy{background-position: -600px -10px;width: 165px;}
#values .values-pic > div.passion{background-position: -923px -14px;height: 166px;}
.box{text-align: left;margin: auto;width: 180px}
#contact {background-color: #222222;color: white;}
#contact .container-fluid > .row{margin: 40px 0;}
#contact address{margin-left: 50px;}
#contact p{margin: 8px 0 0 50px;}
#contact p.daiech-mail-text{margin: 12px 0 0 70px;}
#contact a{color: white}
#contact .contact-logo{float: left}
#contact .contact-item{height: 70px}


.footer-text{width: 60%;margin: 50px auto 0;text-align: center;font-family: "Helvetica Neue",Helvetica,sans-serif;}
#language-form .flag-icon {width: 16px;height: 11px;border: 0;margin: 5px;}
#language-form .language label{font-weight: normal;cursor: pointer;}
#language-form .language label:hover{text-decoration: underline;}
#language-form .es{margin-right: 10px;}
@media screen and (max-width:1072px){
    #home .principal-text{width: 70%;}
    #about .container-fluid{width: 90%}
    #projects .daiech-project{margin-left: 0}
}
@media only screen and (max-width:992px){
	.navbar-nav.navbar-right{font-size: 12px;}
	.navbar-nav>li>a{padding-left: 10px;padding-right: 10px;}
}
@media screen and (max-width:768px){
    #home {height: 430px;}
    #home .principal-text{top: 12%;width: 90%;}
    #home .principal-text p.principal-title{font-size: 42px;}
    #home .principal-text a.btn{margin-top: 30px;}
    #projects .projects-container{background-image: none;}
}
