<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="wuldtGp8kzEECSgymF9gC9eKYQj0Lgs6XeJNJeuGOSo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Daiech Official Web">
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:image" content="http://daiech.com/{{ STATIC_URL }}img/Daiech.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}apple-touch-icon-144x144-precomposed.png" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% block style %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body  data-spy="scroll" data-target=".navbar-daiech">
  {% if not DEBUG %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=311793758915742";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}
    <div class="container">
        <nav id="daiech-navbar" class="navbar" role="navigation">
          {% include "top_bar.html" %}
        </nav>
    </div>
    {% block content %}{% endblock %}
    <footer class="screen">
        <div class="daiech-logo"><a href="/"><img src="{{ STATIC_URL }}img/daiech-logo.png"></a></div>
        <div class="daiech-social">
          <a href="https://twitter.com/Daiech" class="tw" target="_blank"></a>
          <a href="https://facebook.com/Daiech" class="fb" target="_blank"></a>
          <a href="https://plus.google.com/+Daiech" class="gp" target="_blank"></a>
          <a href="https://youtube.com/VideoDaiech" class="yt" target="_blank"></a>
        </div>
    </footer>

  {% if not DEBUG %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  {% endif %}
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/swig.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {%block js%}{%endblock%}
    
  {% if not DEBUG %}
    <script>
        var _gaq=[['_setAccount','UA-26046263-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  {% endif %}
  </body>

